
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px; /* Adjust margin as needed */
  }
  
  .refund-btn,
  .review-btn {
    margin-left: 10px; /* Add space between buttons */
  }

  


  